
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
  :root{
    font-size: px;
    --text-color: black;
    --main-color: #83b752;
  }
  header{
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color:antiquewhite;
    position: fixed;
    padding: 10px;
    height: 50px;
    z-index: 1000;
    align-items: center;

  }
  /*ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }*/
  .navbar{
    display: flex;
    position: relative;
    
  }
  .navbar a{
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
  }
  .navbar a:hover{
    color: var(--main-color);
  }

  .logo{
    font-size: 1.2rem;
    font-family: 600;
    color:var(--text-color)
  }
  .logo span{
    color: var(--main-color);
  }
  #menu-icon{
    cursor: pointer;
    display:;
    font-size: 2rem;
  }

  /*home*/
  section{
    padding: 40px 10%;
  }
.home{
    background-image: url(img/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.home-text h1{
    font-size: 2.7rem;
}
.home-text p{
    font-size: 0.9rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.btn{
    background-color: #83b752;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}.btn:hover{
    background: var(--main-color);
}

.shop-container,
.new-container{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.heading{
  text-align: center;
  margin-bottom: 20px;
  padding: 12px;
}
.box{
  width: 30%;
  border-radius: 40px 40px 0 0;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.box-img{
  overflow: hidden;
  border-radius: 40px 0 0 0;
}
img{
  width: 100%;
  
  transition: transform 0.3s;
}
.box-img img:hover{
  transform: scale(1.1);
}
.title-pricing{
  display: flex;
  padding: 0 5px 0 10px;
  margin-top:20px;
  justify-content: space-between;
}
.title-pricing h3{
  font-weight: 300;
  font-size: 1rem;
}
.box span{
  color: var(--main-color);
  font-size: 1.2rem;
  padding-left: 12px;

}
.stars{
  color: #83b752;
  font-size: 20px;
}
.stars:hover{
  opacity: .5;
}
.cart{
  padding: 0 3px 0 1px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.new-container .box-img{
  border-radius: 4px;
}

/*third section*/
.thirdcontainer{
  display: flex;
  gap: 80px;
}
.thirdcontainer .pic{
  border-radius: 9px;
  padding: 10px;
  max-width: 80%;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 50%;
}
.content p{
  line-height: 1.5;
  font-size: 20px;
  margin: 0.5rem 0 1.4rem;
  object-fit: contain;
}
.content h3{
  margin-bottom: 20px;
  font-size: 50px;
  color: var(--main-color);
}
.content h2{
  margin-bottom: 50px;
}
.content .btn{
  margin-top:20px ;
}

/*branding*/
.brandcontainer{
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 2rem;
}
.brandcontainer img{
  width: 100%;
  height: auto;
  filter: grayscale(1);
}
.brandcontainer img:hover{
  filter: grayscale(0);
}

/*newsletter*/
.newsletter{
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter h2{
  margin-bottom: 50px;
  color: white;
}
.newsbox{
  display: flex;
  align-items: center;
  margin-top: 2rem;

}