
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
  :root{
    font-size: px;
    --text-color: black;
    --main-color: #83b752;
  }
  header{
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color:antiquewhite;
    position: fixed;
    padding: 10px;
    height: 50px;
    z-index: 1000;
    align-items: center;

  }
  /*ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }*/
  .navbar{
    display: flex;
    position: relative;
    
  }
  .navbar a{
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
  }
  .navbar a:hover{
    color: var(--main-color);
  }

  .logo{
    font-size: 1.2rem;
    font-family: 600;
    color:var(--text-color)
  }
  .logo span{
    color: var(--main-color);
  }
  #menu-icon{
    cursor: pointer;
    display:;
    font-size: 2rem;
  }

  /*home*/
  section{
    padding: 40px 10%;
  }
.home{
    background-image: url(img/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.home-text h1{
    font-size: 2.7rem;
}
.home-text p{
    font-size: 0.9rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.btn{
    background-color: #83b752;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}.btn:hover{
    background: var(--main-color);
}

.shop-container,
.new-container{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.heading{
  text-align: center;
  margin-bottom: 20px;
  padding: 12px;
}
.box{
  width: 30%;
  border-radius: 40px 40px 0 0;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.box-img{
  overflow: hidden;
  object-fit: cover;
  border-radius: 40px 0 0 0;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition: transform 0.3s;
}
.box-img img:hover{
  transform: scale(1.1);
}
.title-pricing{
  display: flex;
  padding: 0 5px 0 10px;
  margin-top:20px;
  justify-content: space-between;
}
.title-pricing h3{
  font-weight: 300;
  font-size: 1rem;
}
.box span{
  color: var(--main-color);
  font-size: 1.2rem;
  padding-left: 12px;

}
.stars{
  color: #83b752;
  font-size: 20px;
}
.stars:hover{
  opacity: .5;
}
.cart{
  padding: 0 3px 0 1px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.new-container .box-img{
  border-radius: 4px;
}

/*third section*/
.thirdcontainer{
  display: flex;
  gap: 80px;
}
.thirdcontainer .pic{
  border-radius: 20px;
  padding: 10px;
  max-width: 100%;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 50%;
}
.content p{
  line-height: 1.5;
  font-size: 20px;
  margin: 0.5rem 0 1.4rem;
  object-fit: contain;
}
.content h3{
  margin-bottom: 20px;
  font-size: 50px;
  color: var(--main-color);
}
.content h2{
  margin-bottom: 50px;
}
.content .btn{
  margin-top:20px ;
}
.pic img{
  border-radius: 10px;
}

/*branding*/
.brandcontainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 2rem;
}
.brandcontainer img{
  width: 100%;
  height: auto;
  filter: grayscale(1);
}
.brandcontainer img:hover{
  filter: grayscale(0);
}

/*newsletter*/
.newsletter{
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter h2{
  margin-bottom: 10px;
  color: white;
}
.newsbox{
  display: flex;
  align-items: center;
  margin-top: 2rem;

}
.newsbox input{
  width:340px ;
  padding: 11px;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}.newsletter .btn{
  background-color: var(--main-color);
  border-radius: 4px;
}
.footer{
  display: flex;
  justify-content: space-around;
}
.footer h3{
  margin-bottom:5px ;
  font-weight: bold;
}
.footer .socials{
  margin-top: 10px;
}
.footer p{
  font-size: 15px;
}
.footer i:hover{
  color: #83b752;
}
.bottom{
  background-color: gray;
  height: 10px;

  align-items: center;
}
.copy{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px){
  header{
    padding: 15px 1%;
  }
  section{
    padding: 50px 4%;
  }

}

@media (max-width: 881px){
  .home-text{
    font-size: 1.5rem;
  }
  .shop-container,
  .new-container{
    grid-template-columns: repeat(auto-fit, minmax(218px,auto));
  }
}

@media(max-width: 768px){
  header{
    padding: 18px 4%;
  }
  #menu-icon{
   display :initial;
  }
  .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: wheat;
    box-shadow: 0 4px 4px rgb(0 0 0 /10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar a{
    padding: 1.5rem;
    display: block;
  }
  .navbar.active{
    top:100%;
  }
  .navbar a:hover{
    color: white;
    background: var(--main-color);
  }
  .brandcontainer{
    display: grid;
    margin-left: -30px;
    margin-right: -10px;
    background-color: bisque;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
  }
  .shop-container,
  .new-container{
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 10px;
  }
  .brandcontainer img:hover{
    filter: grayscale(0);
  }
  .about{
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (max-width:491px){
  .home-text h1{
    font-size: 1.7rem;
  }
  .shop-container,
  .new-container{
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 10px;
  }
  .box .box-img{
    height: 200px;
  }
  .newsbox input{
    width: 180px;
  }
  
  .about .content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .about .content h2{
    font-size: 1.2rem;
  }
  .about .content h3{
    font-size: 1.5rem;
  }
  .thirdcontainer{
    display: flex;
    flex-direction: column-reverse;
    grid: 10px;
    align-items: center;
  }
  .brandcontainer{
    display: grid;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
  }
  .footer{
    font-size: 15px;
  }
}